/* Write your CSS here */

.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
}

.not-found-text {
  font-family: 'Bree Serif';
  font-weight: 600;
  font-size: 50px;
  color: #ffffff;
}
